﻿@model IPGMMS.ViewModels.MemberInfoViewModel

@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
}
<h2>MemberDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberInfo.MemberLevel1.MLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberInfo.MemberLevel1.MLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberInfo.Membership_SignupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberInfo.Membership_SignupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberInfo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberInfo.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberInfo.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberInfo.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberInfo.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberInfo.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberInfo.Website)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Update Member Information", "UpdateMemberInfo", new { memID = Model.MemberInfo.ID })<br />
</div>
<div>
    <h4>Mailing Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MailingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MailingInfo.StateName)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Update Mailing Information", "UpdateMemberMailing", new { memID = Model.MemberInfo.ID })<br />
</div>

<div>
    <h4>Listing Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListingInfo.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListingInfo.StateName)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Update Listing Information", "UpdateMemberListing", new { memID = Model.MemberInfo.ID })<br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
