﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background: -webkit-linear-gradient(rgb(84,161,196), rgb(211,231,240));
}

.navbar h1 {
    text-align: center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Centers all images on site. */
img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}
/*Site headings and such*/
@font-face {
    font-family: 'Palanquin';
    src: url(../fonts/palanquin-regular.ttf);
}
@font-face{
    font-family:'League Gothic';
    src: url(../fonts/LeagueGothic-Regular.otf);
}
/*Set the font for the project and various headings*/
h1,h2,h3{
    font-family:'League Gothic';
}
h4,p,body{
    font-family:Palanquin;
}
/*Heading specific information such as size, color, etc*/
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size:28px;
}
h4{
    font-size: 22px;
}
p,body{
    font-size:16px;
}
/* Dropdown content for top nav for user navigation*/
.w3-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    right: 0;
}

    .w3-dropdown-content a {
        padding: 6px 16px;
        display: block;
        background-color: white;
        text-align:right;
    }

        .w3-dropdown-content a:hover {
            background-color: #000080;
            color: white;
        }
#memberListTable a{
    color: #000080;
    font-weight:bold;
}